{% extends 'base-forecast.html' %}
{% load static %}
{% block title %} {{block.super }}: Продажи по поставщикам {% endblock %} {{number}}
{% block content %}
<div class="col-12 mx-auto">
    <span class="font125-b ms-3">Продажи по поставщикам товаров</span> &nbsp; &nbsp;<span>Всего позиций:
        {{sales_by_category_count}}</span>

    <table class="table table-striped demotable">
        <thead style="position: sticky;
  top: 2rem;
  z-index:1;background: #9d9e9e;">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Дата</th>
                <th scope="col">День недели</th>
                <th scope="col">Код</th>
                <th scope="col">Поставщик</th>
                <th scope="col">Выручка, &#8381</th>
                <th scope="col">Доход, &#8381</th>


            </tr>
        </thead>
        <tbody>
            {% for item in items%}
            <tr>
                <th scope="row">{{item.date|date:"d-m-Y"}}</th>
                <td>{{item.weekday}}</td>
                <td>{{item.code}}</td>
                <td>{{item.name}}</td>
                <td>{{item.revenue}}</td>
                <td>{{item.gross_profit}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}