{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="{% static 'logo/s.png' %}" />


  {# Load CSS and JavaScript #}

  {% load bootstrap5 %}

  {% bootstrap_css %}

  {% bootstrap_javascript %}

  {% bootstrap_messages %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <title>{% block title %}SR-SCM{% endblock %}</title>
</head>

<body>

  <ul class="nav nav-pills bgc-head sticky-top font80">
    <li class="nav-item my-1 ms-2">
      <img src="{% static 'logo/s.png' %}" width=30rem alt='logo'>
    </li>
    <li class="nav-item">

      <a class="nav-link font-light " aria-current="page" href="{% url 'main' %}">Главная</a>
    </li>
    {% if request.user.is_authenticated %}

    <li class="nav-item dropdown z-2">
      <a class="nav-link font-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
        aria-expanded="false">Справочники</a>
      <ul class="dropdown-menu ">
        <li><a class="dropdown-item fz-07REM" href="{% url 'category' %}">Категории товаров</a></li>
        <li><a class="dropdown-item fz-07REM" href="{% url 'goods' %}">Товары</a></li>
        <li><a class="dropdown-item fz-07REM" href="{% url 'supplier' %}">Поставщики</a></li>
        <li><a class="dropdown-item fz-07REM" href="{% url 'buier' %}">Заказчики</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item font-blue fz-07REM" href="{% url 'dataset_loading' %}">Загрузить в
            справочники<br>новые данные </a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link font-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
        aria-expanded="false">Продажи</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item fz-07REM" href="{% url 'sales' %}">Продажи товаров</a></li>
        <li><a class="dropdown-item fz-07REM" href="{% url 'sales_by_category' %}">Продажи по категориям</a></li>
        <li><a class="dropdown-item fz-07REM" href="{% url 'sales_by_supplier' %}">Продажи по поставщикам</a></li>

        <li>
          <hr class="dropdown-divider">
        </li>
        <li class="dropdown-item fz-07REM font-b">Загрузить новые продажи:</li>
        <li><a class="dropdown-item font-blue fz-07REM" href="{% url 'sales_loading' %}">через csv-файл</a></li>
        <li><a class="dropdown-item font-blue fz-07REM" href="{% url 'add_sales' %}">через форму</a></li>
        <hr class="dropdown-divider">
    </li>
    <li class="dropdown-item fz-07REM font-b">Группировать продажи:</li>
    <li><a class="dropdown-item font-blue fz-07REM" href="{% url 'create_sales_categories' %}">по категориям и
        поставщикам</a></li>

  </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link font-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
      aria-expanded="false">Прогноз продаж</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item fz-07REM" href="#"></a></li>
      <li><a class="dropdown-item fz-07REM" href="{% url 'forecast_category_sales' %}">Прогноз продаж по категориям</a>
      </li>
      <li><a class="dropdown-item fz-07REM" href="{% url 'forecast_item_sales' %}">Прогноз продаж по товарам</a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item font-blue fz-07REM" href="{% url 'create_forecast' %}">Создать прогноз продаж</a>
      </li>

    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link font-light" href="{% url 'contact' %}" target="blank">Контакты</a>
  </li>
  <li class="nav-item">
    <a class="nav-link font-light" href="{% url 'admin:index' %}" target="blank">Admin</a>
  </li>
  {% endif %}
  {% if user.username %}
  <li class="nav-item">
    <a class="nav-link font-light" href="{% url 'logout' %}">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link font-light" href="{% url 'login' %}">Login</a>
  </li>
  {% endif %}
  <li class="nav-item">
    {% if request.user.is_authenticated %}
    <a class="nav-link font-light ">User: &nbsp;
      <span class="font-b text-uppercase font-yellow">{{ user.username }}</span>
      {% else %}
      <span class=" nav-link font-yellow font-b">Для работы с приложением необходимо авторизоваться</span>

      {% endif %}</a>
  </li>
  </ul>
  <!-- </div> -->

  <!-- messages -->
  {% if messages %}

  {% for message in messages %}

  {% if message.tags == 'error' %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
  {% else %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    {{ message }}
  </div>
  {% endif %}

  {% endfor %}

  {% endif %}
  <!-- End messages -->

  <div class="mt-1">
    {% block content %}CONTENT{% endblock %}
    <!-- pagination -->
    <div class="pagination">
      <div class="">
        <span>
          {% if page_obj.has_other_pages %}
          {% if page_obj.has_previous %}
          <a class='pagination_a' href="?page=1">первая</a>
          <a class='pagination_a' href="?page={{ page_obj.previous_page_number }}">&laquo;&laquo;</a>
          {% endif %}

          <span class="current">
            стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
          <a class='pagination_a' href="?page={{ page_obj.next_page_number }}">&raquo;&raquo;</a>
          <a class='pagination_a' href="?page={{ page_obj.paginator.num_pages }}">последняя</a>
          {% endif %}
          {% endif %}
        </span>
      </div>
    </div>
    <!-- end pagination -->
  </div>



</body>

</html>