{% extends 'base-forecast.html' %}
{% block title %} {{ block.super }}: Главная
{% endblock %}

{% block content %}


<div class="raw mx-5 font100">
  <div class="col-12 ms-2">
    <h2 class="text-center font-bgc"><small class="font150">Приложение</small> SR-Sales-Forecast <small
        class="font150">-
        прогнозирование
        продаж<br> на
        основе исторических
        данных с использованием моделей Prophet и AutoArima</small></h2>



    <p>Приложение выполняет прогноз продаж на следующие периоды на основе фактических продаж
      товаров. Для базового периода продаж можно выбрать периоды: 8 недель(56 дней), 10 недель (70 дней), 12 недель (84
      дня). Прогноз продаж можно сделать на 1 неделю (7 дней), 2 недели (14 дней), 3 недели (21 день), 4 недели (28
      дней). Для составления прогноза можно выбрать либо модель Prophet, либо модель AutoArima, которые используются для
      прогнозирования будущих значений на основе исторических временных рядов.</p>
    <div class="font150-b mb-1 font-bgc"><u>Основные разделы приложения:</u></div>
    </ul>
    <dl class="row">
      <dt class=" col-sm-3 ">Справочники по товарам</dt>

      <dd class="col-sm-9">
        <p>номенклатура товаров;</p>
        <p>категории товаров;</p>
        <p>поставщики товаров;</p>
        <!-- <p>покупатели товаров (при необходимости).</p> -->

      </dd>
      <hr style="border: 2px solid #667893">

      <dt class="col-sm-3">Прогноз продаж</dt>
      <dd class="col-sm-9">
        <p>выполняется группировка исторических продаж по категориям ;
        </p>
        <p>задаются периоды для исторических данных (8, 10, 12 недель) и для прогноза продаж (1, 2, 3, 4 недели); </p>
        <p>на основе заданного периода исторических продаж выполняется прогнозирование продаж по категориям с
          использованием моделей Prophet или AutoArima (Прогноз продаж по категориям);</p>

        <p>для расчета прогноза продаж по отдельным товарам используется структура товаров в фактических продажах по
          категориям за заданный период исторических продаж (Прогноз продаж по товарам). </p>
      </dd>
      <hr style="border: 2px solid #667893">
      <dt class="col-sm-3 ">Данные по продажам</dt>

      <dd class="col-sm-9">
        <p>фактические продажи по номенклатуре товаров.</p>
        <p>фактические продажи по категориям товаров;</p>
        <p>фактические продажи по поставщикам товаров.</p>



      </dd>
      <hr style="border: 2px solid #667893">

    </dl>
  </div>
</div>

{% endblock %}